.heading {
  font-family: 'Roboto Mono', monospace;
  margin: var(--spacing) 0 0 0;
  line-height: 1.5em;
}

.date {
  font-family: 'Roboto Mono', monospace;
  color: #919191;
  margin: 0;
}

.entry {
  margin-bottom: calc(var(--spacing) * 3);
}

.description {
  line-height: 1.5em;
}
