.header {
  padding-top: var(--spacing);
  display: flex;
  flex-direction: column;
  max-width: var(--page-width);
  margin: 0 auto calc(var(--spacing) * 2) auto;
  padding: var(--spacing);
}

.about {
  flex: 1 1 auto;
  padding-top: var(--spacing);
  text-align: center;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.aboutText {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.authorContainer {
  flex: 0 0 112px;
}

.author {
  border-radius: 5px;
  max-width: 112px;
  margin: auto;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  display: inline;
}

.links li:not(:last-child):after {
  content: '|';
  padding: 0 8px;
  color: #919191;
}

@media (min-width: 400px) {
  .header {
    flex-direction: row;
  }
  .about {
    padding-top: 0;
    padding-left: var(--spacing);
    text-align: left;
  }
}
