:root {
  --spacing: 1.0875rem;
}

.header {
  padding-top: var(--spacing);
  display: flex;
  flex-direction: column;
}

.about {
  flex: 1 1 auto;
  padding-top: var(--spacing);
  text-align: center;
}

.title {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
}

.aboutText {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.authorContainer {
  flex: 0 0 9em;
}

.author {
  border-radius: 5px;
  max-width: 9em;
  margin: auto;
}

.divider {
  border-top: 1px dashed #e0e0e0;
  border-bottom: none;
  margin: var(--spacing) 0 calc(var(--spacing) * 2) 0;
}

@media (min-width: 400px) {
  .header {
    flex-direction: row;
  }
  .about {
    padding-top: 0;
    padding-left: var(--spacing);
    text-align: left;
  }
}
