.meta {
  font-family: 'Roboto Mono', monospace;
  color: #919191;
  margin: 2em 0 0 0;
}

.heading {
  margin: 0.3em 0;
  line-height: 1.4em;
  font-weight: 500;
}

.contentDivider {
  width: 50px;
  border: 0;
  border-top: 2px solid #d7d7d7;
  margin-left: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content {
  font-size: 100%;
  position: relative;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 2em;
}

.content h2 {
  line-height: 1.5em;
}

.content p {
  line-height: 1.5em;
  margin: 2em 0;
}

.content hr {
  border-top: 1px dashed #e0e0e0;
  border-bottom: none;
}

.content blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.84);
  padding-left: var(--spacing);
  margin-left: -calc(var(--spacing) + 3px);
  font-style: italic;
}

.content blockquote p {
  margin: 0;
}

.content img {
  max-width: 100%;
}
